.btn-yellow {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #191919;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 50px;
    transition: all 300ms ease-in-out;
    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
    }
}
.btn-transparent {
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 50px;
    transition: all 300ms ease-in-out;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
    }
}
.btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 50px;
    transition: all 300ms ease-in-out;
    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #fff;
        border: 1px solid #191919;
        color: #191919;
    }
}
.round-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    a {
        font-size: 12px;
        text-decoration: none;
        color: #191919;
        opacity: 0.3;
        &.active,
        &:hover {
            opacity: 1;
        }
    }
}