.contact-form {
    // Media querie för att inte ha vita fält under form i mobilläge
    @media (min-width: 576px) {
        padding-bottom: 125px;
    }


    .info {
        // Display sköter hantering av boxarna(responsivt)
        display: block;
        margin-top: 120px;
        @media (min-width: 992px){
            display: flex;
            align-items: center;
            justify-content: space-between;
            }

        .columns {
            // display sköter hantering av innehållet i boxarna(responsivt)
            border: 1px solid #DAD9D3;
            @media (min-width: 992px){
                width: 370px;
                height: 205px;
                }
            display: grid;
            grid-template-columns: auto auto;
            @media (min-width: 1400px){
                width: 420px;
                }
            i {
                font-size: 20px;
                text-align: center;
                width: 60px;
                height: 60px;
                padding: 20px 15px 15px;
                align-self: start;
                color: white;
                background-color: #191919;
                border-radius: 50px;
                margin-left:60px;
                margin-top: 50px;
                margin-right: 14px;
            }
            h3 {
                font-family: 'DM Sans' 'Sans-seriff';
                font-size: 22px;
                font-weight: 700;
                margin-top: 60px;
                margin-bottom: 20px;
            }

            a{
                display: block;
                color: #191919;
                text-decoration: none;
                font-family: 'inter' 'Sans-seriff';
                // ordnar width så hover inte reagerar utanför texten
                width: max-content;
                font-size: 14px;

                @media (min-width: 1400px) {
                    font-size: 18px;
                    margin-right: 100px;
                }

                &:hover {
                    color: #7a7a7a;
                    text-decoration: underline;
                }
                p {
                    margin: 0px;
                }
            }

        }
    }

    .form-part {
        margin-top: 80px;
        background-color: #F0EFE9;
        padding-bottom: 100px;

        
        h2 {

            font-family: 'DM Sans' 'Sans-seriff';
            font-size: 45px;
            font-weight: 700;
            text-align: center;
            padding-top: 150px;
        }

        form {

            margin-top: 30px;
            text-align: center;

            input {
                width: 80%;
                padding: 20px;
                border-radius: 40px;
                border: hidden;
            }
            label {
                margin: 20px 0px 10px;
            }
            textarea {
                width: 80%;
                height: 160px;
                padding: 20px;
                border-radius: 40px;
                border: hidden;
                resize: none;
            }
            span{
                display:block;
                height: 2rem;
            }
        }
        button{
            width: 80%;
            text-align: center;
            margin: 40px 0;
            
        }
    }
}