.articles-container {
    margin-top: 140px;
    margin-bottom: 80px;

    .article-section {
        padding-top: 50px;
        padding-bottom: 90px;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        gap: 30px;
        .article-item {
            position: relative;
            width: 420px;
            height: 428px;
            text-decoration: none;
            color: #191919;
            img{
                width: 420px;
                height: 230px;
                margin-bottom: 20px;
            }

            .absolute-date{
                text-align: center;
                position: absolute;
                top: 1.5rem;
                left: 1.5rem;
                background-color: #F9D783;
                width: 56px;
                height: 64px;
                h3 {
                    margin-top: 10px;
                    margin-bottom: 0px;
                }
            }
            &:hover {
                text-decoration: underline;
                img {
                    opacity: 0.7;
                }
            }
        }
    }
    .page-scroller{
        margin-left: 30rem;
        margin-right: 30rem;
        display: flex;
        gap: 5px;
        .page-scroller-item{
            text-decoration: none;
            color: #191919;
            text-align: center;
            padding-top: 6px;
            border: 1px solid #F0EFE9;
            border-radius: 5px;
            width: 38px;
            height: 38px;

            &:hover {
                background-color: #191919;
                border: 1px solid #191919;
                color: #F0EFE9;
            }
        }
        .current {
            background-color: #191919;
            border: 1px solid #191919;
            color: #F0EFE9;
        }
    }
}

.article-details-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
    .article{
        width: 768px;
        margin-top: 140px;
        margin-bottom: 60px;

        .info-box{
            margin-top: 45px;
            margin-bottom: 80px;
            display: flex;
            gap: 30px;
            .dot {
                color: #F9D783;
                margin-top: 4px;
            }
        }
        img{
            width: 758px;
            height: 500px;
            margin-bottom: 55px;
        }
    }
}

.news-detail-article-section {
    background-color: #F0EFE9;
    position: relative;
    .container{
        padding-top: 40px;
    }
    .titel-box{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    .article-box{
        display: grid;
        grid-auto-flow: column;
        gap: 30px;
        padding-bottom: 8rem;

        .article-item{
            position:relative;
            width: 420px;
            height: 428px;
            text-decoration: none;
            color: #191919;
            img{
                height: 230px;
                width: 420px;
            }
            .absolute-date{
                text-align: center;
                position: absolute;
                top: -4.5rem;
                left: 1.5rem;
                background-color: #F9D783;
                width: 56px;
                height: 64px;
                h3 {
                    margin-top: 10px;
                    margin-bottom: 0px;
                }
            }
        }
        .custom-dot-list-style{
            bottom: 6rem;
        }
        .react-multi-carousel-dot{
            button{
                background-color: #707070;
                border: none;
            }
            &--active{
                button{
                    background-color: #191919;
                }
            }
        }
    }
}
