.not-found-section{
    position: relative;
    img {
        height: 100%;
        width: 100%;
    }
    .container{
        display: grid;
        position: absolute;
        color: #fff;
        top: 10rem;
        left: 30%;
        .btn{
            background-color: #fff;
            color: #191919;
        }
    }
}