.services-section {
    background-color: #F0EFE9;
    position: relative;
    z-index: 0;
    .squiggly-lines {
        z-index: -1;
        bottom: 0;
        right: 0;
    }
    .container {
        padding: 120px 0px;
        text-align: center;
        @media (min-width: 1400px) {
            text-align: start;
        }
        h2 {
            margin-bottom: 50px;
        }
        .services-box {
                // display sköter hanteringen av boxarna (responsivt)
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 40px;
                justify-content: space-around;
                gap: 30px;
                
                @media (min-width: 768px){
                    display: grid;
                    justify-content: space-evenly;
                    grid-template-columns: auto auto;
                }
                @media (min-width: 1400px){
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
            

            a{
                // a sköter styling för innehållet i boxarna
                text-decoration: none;
                color:#191919;
                background-color: #fff;
                width: 310px;
                height: 330px;
                padding: 45px 30px;

                .border-bit {
                    // en fuling för att få dit ett streck
                    width: 40px;
                    height: 1px;
                    background-color: #191919;
                    margin-bottom: 45px;
                }

                p {
                    font-weight: 200;
                }

                i {
                    font-size: 20px;
                    text-align: center;
                    background-color: #191919;
                    color: #fff;
                    height: 56px;
                    width: 56px;
                    border-radius: 100%;
                    padding-top: 18px;
                }

                &:hover{
                    background-color: #F9D783;
                    i{
                        background-color: #fff;
                        color: #191919;
                    }
                }

            }
        }
    }
}